/target/
/nbproject/
/binarysearch/nbproject/private/
/binarysearch/build/
/binarysearch/dist/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/