Button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}
btnSend{
    -fx-font-size: 25px;
}
Button:hover {
    -fx-background-color: #383838;
    -fx-scale-y: 1.1;
}

Button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

LineChart {
    -fx-background-color: #A5FFDC;
}

.context-menu {
    -fx-background-color: #006699;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.context-menu:hover {
    -fx-background-color: #006699;
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

#ylapalkki {
    -fx-background-color: #CDCDCD;
}
.table-view .column-header {
    -fx-font-size: 12pt;
    -fx-alignment: left;

}

